* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-family: "Montserrat", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

p {
  display: flex;
  border: 1px solid #ccc;
  width: 100px;
  height: 30px;
  border-radius: 8px;
  text-align: center;
  justify-content: center;
  background-color: #4e77ff;
}
p a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  width: 100px;
  height: 30px;
}

p :hover {
  background-color: #3b5bdc;
  border-radius: 8px;
  color: black;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
  list-style: none;
  padding: 0;
}
ul li {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 392px;
  padding: 16px;
  background-color: #f6f6fe;
}
ul li ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

ul li ul li {
  border: 1px solid #808080;
  border-radius: 8px;
  width: 360px;
  height: 40px;
  justify-content: center;
  color: #2e2f42;
  font-family: "Montserrat", sans-serif;
  font-weight: 400; 
  letter-spacing: 0.04em;


}

ul li h2 {
  font-size: 24px;
  margin: 0;
  line-height: 32px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0.04em;
  color: #2e2f42; 

}
.gallery {
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 24px;
  padding: 0;
  justify-content: center;
  flex-wrap: wrap;
}
.gallery li {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  width: 360px;
  height: 300px;
  
}

.gallery li img {
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 360px;
  height: 300px;
}
h1{
  font-size: 24px;
  margin-top: 16px;
  line-height: 32px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0.04em;
  color: #2e2f42; 

}
input{
  width: 360px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #808080;
  padding: 8px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400; 
  letter-spacing: 0.04em;
}

form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

form label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
form button {
  width: 86px;
  height: 40px;
  background-color: #4e77ff;
  border-radius: 8px;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 24px;
  color: #ffffff;
}
form button:hover {
  background-color: #3b5bdc;
  border-radius: 8px;
  color: black;
}
.widget{
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;

}
.widget p{
  all: unset;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 0.04em;
 }
 .widget button{
  width: 148px;
  height: 40px;
  background-color: #4e77ff;
  border: none;
  color: #ffffff;
  border-radius: 8px;
 }
 .widget button:hover{
  background-color: #3b5bdc;
  border-radius: 8px;
  color: black;
  cursor: pointer;
 }

 #controls{
  display: flex;
  gap: 16px;
  background-color: #f6f6fe;
  width: 486px;
  height: 104px;
  justify-content: center;
  align-items: center;
 }

 #controls input{
  width: 150px;
  height: 40px;
  text-align: center;
  
 }
 #controls button{
  width: 120px;
  height: 40px;  
  border-radius: 8px;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 24px;
  color: #ffffff;
 }
.Create{
  background-color: #4e77ff;
 }

 .Destroy{
  background-color: #ff4e4e;
 }

 #boxes{
  background-color: #f6f6fe;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 44px;
  padding: 32px;
  margin-top: 16px;

 }